# Pandas (Data Frame Basics)

In [2]:
import pandas as pd
print(pd.__version__)

2.2.2

In [6]:
import os
print(os.getcwd())

/Users/piyushpanwar

# Printing Data Set

In [2]:
import pandas as pd
df = pd.read_csv('./PandasDirectory/movies.csv')
print(df)

                                          title   industry  release_year  \
0                               Pather Panchali  Bollywood          1955
1   Doctor Strange in the Multiverse of Madness  Hollywood          2022
2                         Thor: The Dark World   Hollywood          2013
3                               Thor: Ragnarok   Hollywood          2017
4                       Thor: Love and Thunder   Hollywood          2022
5                      The Shawshank Redemption  Hollywood          1994
6                                  Interstellar  Hollywood          2014
7                      The Pursuit of Happyness  Hollywood          2006
8                                     Gladiator  Hollywood          2000
9                                       Titanic  Hollywood          1997
10                        It's a Wonderful Life  Hollywood          1946
11                                       Avatar  Hollywood          2009
12                                The Godfather  Hollywood          1972
13                              The Dark Knight  Hollywood          2008
14                             Schindler's List  Hollywood          1993
15                                Jurassic Park  Hollywood          1993
16                                     Parasite  Hollywood          2019
17                            Avengers: Endgame  Hollywood          2019
18                       Avengers: Infinity War  Hollywood          2018
19           Captain America: The First Avenger  Hollywood          2011
20          Captain America: The Winter Soldier  Hollywood          2014
21                  Dilwale Dulhania Le Jayenge  Bollywood          1995
22                                     3 Idiots  Bollywood          2009
23                     Kabhi Khushi Kabhie Gham  Bollywood          2001
24                             Bajirao Mastani   Bollywood          2015
25                             Taare Zameen Par  Bollywood          2007
26                          Munna Bhai M.B.B.S.  Bollywood          2003
27                                           PK  Bollywood          2014
28                                        Sanju  Bollywood          2018
29                            The Kashmir Files  Bollywood          2022
30                            Bajrangi Bhaijaan  Bollywood          2015
31                                       Race 3  Bollywood          2018
32                                    Shershaah  Bollywood          2021
33                             K.G.F: Chapter 2  Bollywood          2022
34                    Pushpa: The Rise - Part 1  Bollywood          2021
35                                          RRR  Bollywood          2022
36                     Baahubali: The Beginning  Bollywood          2015

    imdb_rating                     studio    budget   revenue       unit  \
0           8.3  Government of West Bengal  70000.00  100000.0  Thousands
1           7.0             Marvel Studios    200.00     954.8   Millions
2           6.8             Marvel Studios    165.00     644.8   Millions
3           7.9             Marvel Studios    180.00     854.0   Millions
4           6.8             Marvel Studios    250.00     670.0   Millions
5           9.3  Castle Rock Entertainment     25.00      73.3   Millions
6           8.6      Warner Bros. Pictures    165.00     701.8   Millions
7           8.0          Columbia Pictures     55.00     307.1   Millions
8           8.5       Universal Pictures      103.00     460.5   Millions
9           7.9         Paramount Pictures    200.00    2202.0   Millions
10          8.6              Liberty Films      3.18       3.3   Millions
11          7.8           20th Century Fox    237.00    2847.0   Millions
12          9.2         Paramount Pictures      7.20     291.0   Millions
13          9.0                    Syncopy    185.00    1006.0   Millions
14          9.0         Universal Pictures     22.00     322.2   Millions
15          8.2         Universal Pictures     63.00    1046.0   Millions
16          8.5                        NaN     15.50     263.1   Millions
17          8.4             Marvel Studios    400.00    2798.0   Millions
18          8.4             Marvel Studios    400.00    2048.0   Millions
19          6.9             Marvel Studios    216.70     370.6   Millions
20          7.8             Marvel Studios    177.00     714.4   Millions
21          8.0             Yash Raj Films    400.00    2000.0   Millions
22          8.4         Vinod Chopra Films    550.00    4000.0   Millions
23          7.4         Dharma Productions    390.00    1360.0   Millions
24          7.2                        NaN      1.40       3.5   Billions
25          8.3                        NaN    120.00    1350.0   Millions
26          8.1   Vinod Chopra Productions    100.00     410.0   Millions
27          8.1         Vinod Chopra Films    850.00    8540.0   Millions
28          NaN         Vinod Chopra Films      1.00       5.9   Billions
29          8.3                Zee Studios    250.00    3409.0   Millions
30          8.1          Salman Khan Films    900.00   11690.0   Millions
31          1.9          Salman Khan Films      1.80       3.1   Billions
32          8.4         Dharma Productions    500.00     950.0   Millions
33          8.4              Hombale Films      1.00      12.5   Billions
34          7.6        Mythri Movie Makers      2.00       3.6   Billions
35          8.0          DVV Entertainment      5.50      12.0   Billions
36          8.0           Arka Media Works      1.80       6.5   Billions

   currency language
0       INR  Bengali
1       USD  English
2       USD  English
3       USD  English
4       USD  English
5       USD  English
6       USD  English
7       USD  English
8       USD  English
9       USD  English
10      USD  English
11      USD  English
12      USD  English
13      USD  English
14      USD  English
15      USD  English
16      USD  English
17      USD  English
18      USD  English
19      USD  English
20      USD  English
21      INR    Hindi
22      INR    Hindi
23      INR    Hindi
24      INR    Hindi
25      INR    Hindi
26      INR    Hindi
27      INR    Hindi
28      INR    Hindi
29      INR    Hindi
30      INR    Hindi
31      INR    Hindi
32      INR    Hindi
33      INR  Kannada
34      INR   Telugu
35      INR   Telugu
36      INR   Telugu

In [4]:
import pandas as pd
df = pd.read_csv('./PandasDirectory/movies.csv')
print(df.to_string())

                                          title   industry  release_year  imdb_rating                     studio    budget   revenue       unit currency language
0                               Pather Panchali  Bollywood          1955          8.3  Government of West Bengal  70000.00  100000.0  Thousands      INR  Bengali
1   Doctor Strange in the Multiverse of Madness  Hollywood          2022          7.0             Marvel Studios    200.00     954.8   Millions      USD  English
2                         Thor: The Dark World   Hollywood          2013          6.8             Marvel Studios    165.00     644.8   Millions      USD  English
3                               Thor: Ragnarok   Hollywood          2017          7.9             Marvel Studios    180.00     854.0   Millions      USD  English
4                       Thor: Love and Thunder   Hollywood          2022          6.8             Marvel Studios    250.00     670.0   Millions      USD  English
5                      The Shawshank Redemption  Hollywood          1994          9.3  Castle Rock Entertainment     25.00      73.3   Millions      USD  English
6                                  Interstellar  Hollywood          2014          8.6      Warner Bros. Pictures    165.00     701.8   Millions      USD  English
7                      The Pursuit of Happyness  Hollywood          2006          8.0          Columbia Pictures     55.00     307.1   Millions      USD  English
8                                     Gladiator  Hollywood          2000          8.5       Universal Pictures      103.00     460.5   Millions      USD  English
9                                       Titanic  Hollywood          1997          7.9         Paramount Pictures    200.00    2202.0   Millions      USD  English
10                        It's a Wonderful Life  Hollywood          1946          8.6              Liberty Films      3.18       3.3   Millions      USD  English
11                                       Avatar  Hollywood          2009          7.8           20th Century Fox    237.00    2847.0   Millions      USD  English
12                                The Godfather  Hollywood          1972          9.2         Paramount Pictures      7.20     291.0   Millions      USD  English
13                              The Dark Knight  Hollywood          2008          9.0                    Syncopy    185.00    1006.0   Millions      USD  English
14                             Schindler's List  Hollywood          1993          9.0         Universal Pictures     22.00     322.2   Millions      USD  English
15                                Jurassic Park  Hollywood          1993          8.2         Universal Pictures     63.00    1046.0   Millions      USD  English
16                                     Parasite  Hollywood          2019          8.5                        NaN     15.50     263.1   Millions      USD  English
17                            Avengers: Endgame  Hollywood          2019          8.4             Marvel Studios    400.00    2798.0   Millions      USD  English
18                       Avengers: Infinity War  Hollywood          2018          8.4             Marvel Studios    400.00    2048.0   Millions      USD  English
19           Captain America: The First Avenger  Hollywood          2011          6.9             Marvel Studios    216.70     370.6   Millions      USD  English
20          Captain America: The Winter Soldier  Hollywood          2014          7.8             Marvel Studios    177.00     714.4   Millions      USD  English
21                  Dilwale Dulhania Le Jayenge  Bollywood          1995          8.0             Yash Raj Films    400.00    2000.0   Millions      INR    Hindi
22                                     3 Idiots  Bollywood          2009          8.4         Vinod Chopra Films    550.00    4000.0   Millions      INR    Hindi
23                     Kabhi Khushi Kabhie Gham  Bollywood          2001          7.4         Dharma Productions    390.00    1360.0   Millions      INR    Hindi
24                             Bajirao Mastani   Bollywood          2015          7.2                        NaN      1.40       3.5   Billions      INR    Hindi
25                             Taare Zameen Par  Bollywood          2007          8.3                        NaN    120.00    1350.0   Millions      INR    Hindi
26                          Munna Bhai M.B.B.S.  Bollywood          2003          8.1   Vinod Chopra Productions    100.00     410.0   Millions      INR    Hindi
27                                           PK  Bollywood          2014          8.1         Vinod Chopra Films    850.00    8540.0   Millions      INR    Hindi
28                                        Sanju  Bollywood          2018          NaN         Vinod Chopra Films      1.00       5.9   Billions      INR    Hindi
29                            The Kashmir Files  Bollywood          2022          8.3                Zee Studios    250.00    3409.0   Millions      INR    Hindi
30                            Bajrangi Bhaijaan  Bollywood          2015          8.1          Salman Khan Films    900.00   11690.0   Millions      INR    Hindi
31                                       Race 3  Bollywood          2018          1.9          Salman Khan Films      1.80       3.1   Billions      INR    Hindi
32                                    Shershaah  Bollywood          2021          8.4         Dharma Productions    500.00     950.0   Millions      INR    Hindi
33                             K.G.F: Chapter 2  Bollywood          2022          8.4              Hombale Films      1.00      12.5   Billions      INR  Kannada
34                    Pushpa: The Rise - Part 1  Bollywood          2021          7.6        Mythri Movie Makers      2.00       3.6   Billions      INR   Telugu
35                                          RRR  Bollywood          2022          8.0          DVV Entertainment      5.50      12.0   Billions      INR   Telugu
36                     Baahubali: The Beginning  Bollywood          2015          8.0           Arka Media Works      1.80       6.5   Billions      INR   Telugu

In [19]:
import pandas as pd
df = pd.read_csv('movies.csv')
df.head(3)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [25]:

print(pd.options.display.max_rows)

60

In [31]:
df.columns

Index(['industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language', 'age', 'profit', 'Age'],
      dtype='object')

In [28]:
# df = pd.read_csv('movies.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         37 non-null     object
 1   industry      37 non-null     object
 2   release_year  37 non-null     int64
 3   imdb_rating   36 non-null     float64
 4   studio        34 non-null     object
 5   budget        37 non-null     float64
 6   revenue       37 non-null     float64
 7   unit          37 non-null     object
 8   currency      37 non-null     object
 9   language      37 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.0+ KB
None

# Methods of Pandas

In [31]:
# FOR PRINTING THE ROWS AND COLUMNS
df.shape

(37, 10)

In [35]:
# FOR PRINTING ONLY COLUMS
df.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

In [32]:
# FOR PRINTING ONLY COLUMS
df.columns

Index(['industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language', 'age', 'profit', 'Age'],
      dtype='object')

In [36]:
df.industry.unique()

array(['Bollywood', 'Hollywood'], dtype=object)

In [38]:
df.language.unique()

array(['Bengali', 'English', 'Hindi', 'Kannada', 'Telugu'], dtype=object)

In [39]:
df['language'].unique()

array(['Bengali', 'English', 'Hindi', 'Kannada', 'Telugu'], dtype=object)

In [40]:
df.industry.value_counts()

industry
Hollywood    20
Bollywood    17
Name: count, dtype: int64

In [41]:
df.language.value_counts()

language
English    20
Hindi      12
Telugu      3
Bengali     1
Kannada     1
Name: count, dtype: int64

In [42]:
# FOR PRINTING THE SUBSET:
df_new = df[["title","budget","revenue"]]

                                          title    budget   revenue
0                               Pather Panchali  70000.00  100000.0
1   Doctor Strange in the Multiverse of Madness    200.00     954.8
2                         Thor: The Dark World     165.00     644.8
3                               Thor: Ragnarok     180.00     854.0
4                       Thor: Love and Thunder     250.00     670.0
5                      The Shawshank Redemption     25.00      73.3
6                                  Interstellar    165.00     701.8
7                      The Pursuit of Happyness     55.00     307.1
8                                     Gladiator    103.00     460.5
9                                       Titanic    200.00    2202.0
10                        It's a Wonderful Life      3.18       3.3
11                                       Avatar    237.00    2847.0
12                                The Godfather      7.20     291.0
13                              The Dark Knight    185.00    1006.0
14                             Schindler's List     22.00     322.2
15                                Jurassic Park     63.00    1046.0
16                                     Parasite     15.50     263.1
17                            Avengers: Endgame    400.00    2798.0
18                       Avengers: Infinity War    400.00    2048.0
19           Captain America: The First Avenger    216.70     370.6
20          Captain America: The Winter Soldier    177.00     714.4
21                  Dilwale Dulhania Le Jayenge    400.00    2000.0
22                                     3 Idiots    550.00    4000.0
23                     Kabhi Khushi Kabhie Gham    390.00    1360.0
24                             Bajirao Mastani       1.40       3.5
25                             Taare Zameen Par    120.00    1350.0
26                          Munna Bhai M.B.B.S.    100.00     410.0
27                                           PK    850.00    8540.0
28                                        Sanju      1.00       5.9
29                            The Kashmir Files    250.00    3409.0
30                            Bajrangi Bhaijaan    900.00   11690.0
31                                       Race 3      1.80       3.1
32                                    Shershaah    500.00     950.0
33                             K.G.F: Chapter 2      1.00      12.5
34                    Pushpa: The Rise - Part 1      2.00       3.6
35                                          RRR      5.50      12.0
36                     Baahubali: The Beginning      1.80       6.5

In [45]:
df[(df.release_year>=2000) & (df.release_year<=2010)]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
7,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.0,307.1,Millions,USD,English
8,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.0,460.5,Millions,USD,English
11,Avatar,Hollywood,2009,7.8,20th Century Fox,237.0,2847.0,Millions,USD,English
13,The Dark Knight,Hollywood,2008,9.0,Syncopy,185.0,1006.0,Millions,USD,English
22,3 Idiots,Bollywood,2009,8.4,Vinod Chopra Films,550.0,4000.0,Millions,INR,Hindi
23,Kabhi Khushi Kabhie Gham,Bollywood,2001,7.4,Dharma Productions,390.0,1360.0,Millions,INR,Hindi
25,Taare Zameen Par,Bollywood,2007,8.3,NaN,120.0,1350.0,Millions,INR,Hindi
26,Munna Bhai M.B.B.S.,Bollywood,2003,8.1,Vinod Chopra Productions,100.0,410.0,Millions,INR,Hindi

In [50]:
# FOR PRINTING THE SPECIFIC CATEGORY
df[df.studio == 'Marvel Studios']

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
17,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
18,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
19,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.7,370.6,Millions,USD,English
20,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English

In [51]:
df.describe()

       release_year  imdb_rating        budget        revenue
count     37.000000    36.000000     37.000000      37.000000
mean    2007.027027     7.919444   2084.975135    4117.135135
std       17.657995     1.204947  11477.487145   16372.462682
min     1946.000000     1.900000      1.000000       3.100000
25%     2001.000000     7.800000     15.500000     263.100000
50%     2014.000000     8.100000    165.000000     701.800000
75%     2018.000000     8.400000    250.000000    2000.000000
max     2022.000000     9.300000  70000.000000  100000.000000

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         37 non-null     object
 1   industry      37 non-null     object
 2   release_year  37 non-null     int64
 3   imdb_rating   36 non-null     float64
 4   studio        34 non-null     object
 5   budget        37 non-null     float64
 6   revenue       37 non-null     float64
 7   unit          37 non-null     object
 8   currency      37 non-null     object
 9   language      37 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.0+ KB

In [55]:
df.imdb_rating.max()

9.3

In [54]:
df.imdb_rating.min()

1.9

In [58]:
df[(df.imdb_rating == df.imdb_rating.max())| (df.imdb_rating == df.imdb_rating.min())]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English
31,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi

# Operation on Index

In [23]:
df.index

RangeIndex(start=0, stop=37, step=1)

In [10]:
df.set_index("title", inplace=True)
df.head(3)

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
title,,,,,,,,,
Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [14]:
df.index

RangeIndex(start=0, stop=37, step=1)

In [13]:
df.reset_index(inplace = True)
df.head(4)

,index,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English

In [42]:
df.loc[['Race 3','The Shawshank Redemption']]

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,profit,Age
title,,,,,,,,,,,
Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi,1.3,6
The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English,48.3,30

In [44]:
df.iloc[2:16]

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,profit,Age
title,,,,,,,,,,,
Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.00,644.8,Millions,USD,English,479.80,11
Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.00,854.0,Millions,USD,English,674.00,7
Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.00,670.0,Millions,USD,English,420.00,2
The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.00,73.3,Millions,USD,English,48.30,30
Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.00,701.8,Millions,USD,English,536.80,10
The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.00,307.1,Millions,USD,English,252.10,18
Gladiator,Hollywood,2000,8.5,Universal Pictures,103.00,460.5,Millions,USD,English,357.50,24
Titanic,Hollywood,1997,7.9,Paramount Pictures,200.00,2202.0,Millions,USD,English,2002.00,27
It's a Wonderful Life,Hollywood,1946,8.6,Liberty Films,3.18,3.3,Millions,USD,English,0.12,78
Avatar,Hollywood,2009,7.8,20th Century Fox,237.00,2847.0,Millions,USD,English,2610.00,15
The Godfather,Hollywood,1972,9.2,Paramount Pictures,7.20,291.0,Millions,USD,English,283.80,52
The Dark Knight,Hollywood,2008,9.0,Syncopy,185.00,1006.0,Millions,USD,English,821.00,16
Schindler's List,Hollywood,1993,9.0,Universal Pictures,22.00,322.2,Millions,USD,English,300.20,31
Jurassic Park,Hollywood,1993,8.2,Universal Pictures,63.00,1046.0,Millions,USD,English,983.00,31

In [8]:
import pandas as pd
df = pd.read_csv('movies.csv')
df.head(13)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.00,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.00,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.00,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.00,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.00,670.0,Millions,USD,English
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.00,73.3,Millions,USD,English
6,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.00,701.8,Millions,USD,English
7,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.00,307.1,Millions,USD,English
8,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.00,460.5,Millions,USD,English
9,Titanic,Hollywood,1997,7.9,Paramount Pictures,200.00,2202.0,Millions,USD,English
10,It's a Wonderful Life,Hollywood,1946,8.6,Liberty Films,3.18,3.3,Millions,USD,English
11,Avatar,Hollywood,2009,7.8,20th Century Fox,237.00,2847.0,Millions,USD,English
12,The Godfather,Hollywood,1972,9.2,Paramount Pictures,7.20,291.0,Millions,USD,English

In [9]:
df.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

In [15]:
df_new = df[df['studio'] == 'Marvel Studios'].copy()  # Corrected 'stuido' to 'studio'
df_new['age'] = df_new['release_year'].apply(lambda x: 2024 - x)
df_new.head(5)  # Removed the period after 'head(5)'

,index,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
1,1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,2
2,2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,11
3,3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,7
4,4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,2
17,17,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English,5

In [ ]:
df =